# base ----------------------------------------
cython

# mmcv ----------------------------------------
mmcv-full==1.1.6

# runtime -------------------------------------
tqdm
mmpycocotools
terminaltables
