-f https://download.pytorch.org/whl/torch_stable.html
torch==1.5.0+cu101 
torchvision==0.6.0+cu101

-f https://download.openmmlab.com/mmcv/dist/index.html
mmcv-full==1.1.6+torch1.5.0+cu101 

cython
numpy
tqdm
matplotlib
terminaltables